.card {
  border-radius: 10px;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
}

.card img {
  width: 80px;
  height: 80px;
}

.list-group-item {
  font-size: 0.9rem;
  background: #f9f9f9;
  border: none;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-body-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
}
.weather-dashboard {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.stroke{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
  2px 2px 4px rgba(0, 0, 0, 0.5),
  2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.sunny {
  background-image: url('/assets/gifs/sunny.gif');
}

.rainy {
  background-image: url('/assets/gifs/rainy.gif');
}

.snowy {
  background-image: url('/assets/gifs/snowy.gif');
}

.cloudy {
  background-image: url('/assets/gifs/cloudy.gif');
}
.misty{
  background-image: url('/assets/gifs/misty.gif');
}
